@import url(https://fonts.googleapis.com/css?family=Bangers);
.modal{
	margin-left:10%;
	margin-top:15%;
}
.modal-content{
	max-width: 80%;
	max-height: 80%;
	background-color: #f1f1f1;
	min-width: 50%;
	min-height: 50%;
}

.modal-title{
	text-align: center;
}
.modal-title,.modal-body p{
	color:#212121;
}
.modal-body img{
	max-width: 95%;
	max-height: 50%;
}
.modal-header button{
	color:red;
	opacity:1.0;
}
.rule{
	text-align:center;
	color:#00e676;
	margin-left: 40px;
}
.rule :hover{
	text-decoration:underline;
}
.time-to{
  margin:15px;
  color: #00acc1;
  font-weight:bold;
  font-family: bangers;
}
@media (min-width: 500px)
{
  .time-to
  {
    font-size:3em;
  }
}
@media (max-width:499px)
{
  .time-to
  {
    font-size:2em;
    margin-left: 100px;
  }
}
.section
{
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.05),
   inset 0px 3px 15px 0px rgba(0,0,0,0.5),
    0px 1px 1px 0px rgba(255,255,255,0.08);
		margin:0px;
		padding:0px;
}
#sponsor .item li a
{
	color:#f5f5f5;
}
#sponsor .item li
{
  width:35%;
  height:50px;
  margin-left:10%;
}
