@import url(https://fonts.googleapis.com/css?family=Bangers);
.time-to{
  margin:15px;
  color: #00acc1;
  font-weight:bold;
  font-family: bangers;
}
@media (min-width: 500px)
{
  .time-to
  {
    font-size:3em;
  }
}
@media (max-width:499px)
{
  .time-to
  {
    font-size:2em;
    margin-left: 100px;
  }
}
.section
{
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.05),
   inset 0px 3px 15px 0px rgba(0,0,0,0.5),
    0px 1px 1px 0px rgba(255,255,255,0.08);
}
#sponsor .item li a
{}
#sponsor .item li
{
  width:35%;
  height:50px;
  margin-left:10%;
}
